.cart-data-table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  .cart-data-table th,
  .cart-data-table td {
    border: 1px solid #ccc;
    padding: 4px;
    text-align: center;
  }
  
  .cart-data-table th {
    background-color: #f8f8f8;
  }